{% extends 'layout.html' %}

{% block body %}

  <div class="about-section d-flex flex-column align-items-center">
    <p class="text-center mb-5 font-weight-bold display-4" style="color: #093968;" >UEMF Articles</p>
    <p class="text-center mb-5 font-weight-light lead">A platform designed for students and researchers of the Euro Mediterranean University of Fez (UEMF). Our mission is to provide a space for the exchange of ideas, knowledge, and information, through the publication of articles, research papers, and other materials related to the field of engineering and management.</p>
    <p class="text-center mb-5 font-weight-light lead">The platform is easy to use and offers a range of tools and resources to help you create, publish, and share your work. Whether you're a student looking to showcase your research, or a researcher looking to share your findings with the world, UEMF Articles is the perfect platform for you.</p>
    <a href="/register" class="btn btn-primary btn-lg mb-5 font-weight-bold">Join us today</a>
  </div>
{% endblock %}
